<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.chatgptapi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.ChatGptAPI"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".view.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:exported="false" />
        <activity
            android:name=".view.AdminChatActivity"
            android:exported="false" />
        <activity
            android:name=".view.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".view.AdminInboxActivity"
            android:exported="false" />
        <activity
            android:name=".view.HelpActivity"
            android:exported="false" />
        <activity
            android:name=".view.AdminSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".view.QuickAdminActivity"
            android:exported="false" />
        <activity
            android:name=".view.Splash"
            android:exported="false" />

        <receiver
            android:name=".viewmodel.NetworkReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>